# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# ---- Visual Studio build output ----
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
ARM*/
*.obj
*.pdb
*.idb
*.pch
*.ipch
*.log
*.tlog
*.ilk
*.tmp
*.user
*.suo

# ---- Visual Studio project user files ----
*.vcxproj.user
*.aps

# ---- CMake build artifacts ----
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake
Makefile
out/

# VS CMake generated helper projects
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
*.sln
*.vcxproj
*.vcxproj.filters

.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Engine/external/glfw/cmake_uninstall.cmake
Engine/external/glfw/src/glfw3ConfigVersion.cmake
Engine/external/glfw/src/glfw3Config.cmake
Engine/external/glfw/src/glfw3.pc
